<ion-header>
  <ion-toolbar>
    <ion-title>{{"CAMARA"| translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-label>{{"IDIOMA"| translate}}</ion-label>
      <ion-select cancelText='{{"CANCELAR"| translate}}'
      placeholder="Selecciona" (ionChange)="changeLang($event)" [ngModel]="language">
        <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        {{"SALIR"| translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" class="ion-margin" (click)="getPicture()">
    {{"TOMAR"| translate}}
  </ion-button>
  <div>
    <img [src]="selectedImage?.webPath" />
  </div>
  <ion-button expand="block" class="ion-margin" (click)="savePicture()">
    {{"SAVE"| translate}}
  </ion-button>
  <ion-slides pager="true" #mySlider class="slides">
    <ion-slide *ngFor="let photo of photos" >
      <img class="img-slide" src={{photo}} />
    </ion-slide>
  </ion-slides>
</ion-content>