<ion-header>
  <ion-toolbar>
    <ion-title>{{"CAMARA"| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" class="ion-margin" (click)="getPicture()">
    {{"TOMAR"| translate}}
  </ion-button>
  <div>
    <img [src]="selectedImage?.webPath" />
  </div>
  <ion-button expand="block" class="ion-margin" (click)="savePicture()">
    {{"SAVE"| translate}}
  </ion-button>
  <ion-slides pager="true" #mySlider class="slides">
    <ion-slide *ngFor="let photo of photos" >
      <img class="img-slide" src={{photo}} />
    </ion-slide>
  </ion-slides>
</ion-content>