.parent {
    display: grid;
    grid-template-columns: .5fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 1 / 4 / 2 / 6; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 4; }
    .div5 { grid-area: 2 / 4 / 3 / 6; }
    