<ion-header>
  <ion-toolbar>
    <ion-title>Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="content-body ">
      <ion-list>
        <ion-item>
          <ion-label><strong>Ubicación</strong></ion-label>
          <p>Domicilio Conocido, 63865 La Laguna, Nay.</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Hora de entrada</strong></ion-label>
          <p>12 P.M.</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Hora de salida</strong></ion-label>
          <p>10 A.M.</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Clave de acceso</strong></ion-label>
          <p>[Clave]</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
