<ion-header>
  <ion-toolbar>
    <ion-title>Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="content-body ">
      <h1>Reglamentos y normas del Hotel</h1>
      <p style="text-align: justify;">
        <strong>I. REGISTRO</strong>
      </p>
      <p style="text-align: justify;">
        Todo huésped, tanto el individual como el de grupo deberá de llenar 
        una hoja de registro de manera individual o bien por cada habitación, 
        misma que le será proporcionada a su llegada en la recepción del Hotel.
      </p>
      <p style="text-align: justify;">
        <strong>II.- OBLIGACIÓN DE INFORMACIÓN POR PARTE DEL HUÉSPED</strong>
      </p>
      <p style="text-align: justify;">
        Es obligación de los huéspedes informar a la administración del Hotel 
        de padecimientos o enfermedades contagiosas, fallecimientos, infracciones o 
        delitos que acontezcan en el establecimiento y sean de su conocimiento, a 
        fin de que el Hotel pueda a su vez, tomar las medidas oportunas y dar cuenta 
        inmediata a la autoridad cuando proceda.
      </p>
      <p style="text-align: justify;">
        Si algún huésped enfermase, la recepción del hotel deberá llamar a un médico 
        y podrá ser atendido en su cuarto con cargo al huésped; sí la enfermedad fuera 
        contagiosa el huésped será trasladado por su cuenta al lugar adecuado.
      </p>
      <p style="text-align: justify;">
        <strong>III.- REGISTRO DEL HUÉSPED AL HOTEL</strong>
      </p>
      <p style="text-align: justify;">
        La hora de registro para entrar a la habitación será de las 15:00 horas en adelante, 
        y la hora de salida deberá ser a más tardar a las 12:00 horas, caso contrario se cobrará 
        una noche adicional de estadía. Para el caso de que por razones personales el huésped 
        tenga que registrar su entrada después de las 20:00 horas este deberá de avisar con 24 
        horas de anticipación a su llegada.
      </p>
      <p style="text-align: justify;">
        Recomendamos que a su llegada revise el inventario de la habitación ya que al momento de 
        su retiro será revisado y en caso de faltantes o daños deberán ser cubiertos por el huésped 
        por otro producto igual o en su defecto se cobrará a su precio.
      </p>
      <p style="text-align: justify;">
        <strong>IV.- UTILIZACIÓN DE LOS SERVICIOS</strong>
      </p>
      <p style="text-align: justify;">
        Los servicios (agua, electricidad, gas, etc.) prestados por el Hotel deberán utilizarse de 
        conformidad con las normas de buena fe, sin que se entienda incluido en el precio el derroche 
        o utilización desproporcionada de los mismos, ayúdanos a mantener las tarifas bajas y accesibles 
        así como a cuidar el medio ambiente.
      </p>
      <p style="text-align: justify;">
        Se pide a los huéspedes el uso moderado y racional de los muebles de la habitación, cuidando 
        de ellos debidamente; de igual manera todo huésped al salir de la habitación, tiene la 
        obligación de dejar cerradas las ventanas, puertas de entrada, llaves de agua y apagar luces.
      </p>
      <p style="text-align: justify;">
        <strong>V.- ESTANCIA EN EL HOTEL</strong>
      </p>
      <p style="text-align: justify;">
        Los huéspedes podrán llevar consigo o dejar en la recepción o administración, las llaves 
        de sus habitaciones hasta antes de las 20:00 horas, cada vez que salgan del establecimiento. 
        No podrán alojar en sus habitaciones a personas diferentes de las registradas y en todo caso, 
        darán aviso previo en la administración de cualquier variación en el número o identificación 
        de las personas que originalmente se registraron. Los visitantes de los clientes no podrán 
        quedarse a pasar la noche. Tampoco podrán venir a disfrutar los servicios personas distintas 
        de las que han realizado la contratación, ni se podrá utilizar el Hotel como lugar de realización 
        de transacciones mercantiles.
      </p>
      <p style="text-align: justify;">
        En ningún caso, el número de personas alojadas en cada habitación, podrá ser mayor de la 
        capacidad asignada por el Hotel a cada cuarto.
      </p>
      <p style="text-align: justify;">
        <strong>VI.- ACCESO AL HOTEL</strong>
      </p>
      <p style="text-align: justify;">
        El Hotel estará abierto al público de las 8:00 horas a las 21:30 horas, si el huésped desea 
        entrar o salir después de las 21:30 horas, entonces éste deberá de tocar el timbre de la 
        puerta principal. La puerta de acceso al hotel después de las 21:30 horas será abierta y 
        cerrada únicamente por personal del hotel.
      </p>
      <p style="text-align: justify;">
        <strong>VII.- LIMPIEZA DE LAS HABITACIONES</strong>
      </p>
      <p style="text-align: justify;">
        La limpieza de habitaciones se realizará en horario de mañana, 
        desde las 9:00 horas a las 12.00 horas. Los clientes que no pongan 
        a disposición sus habitaciones durante esas horas no se les 
        realizarán la limpieza de la habitación.
      </p>
      <p style="text-align: justify;">
        Se informa a los huéspedes tanto individuales como grupales, de que en este 
        establecimiento se cambian los blancos de la habitación cada tercer noche de 
        estadía por el mismo cliente.
      </p>
      <p style="text-align: justify;">
        <strong>VIII.- MEDIDAS DE SEGURIDAD</strong>
      </p>
      <p style="text-align: justify;">
        El huésped deberá de guardar sus objetos de valor lejos del alcance de ninguna 
        persona. Si tiene algún objeto de valor, el hotel no se hace responsable de 
        pérdida o extravió de joyas y valores dejados en las habitaciones.
      </p>
      <p style="text-align: justify;">
        <strong>IX.- SILENCIO Y RESPETO AL RESTO DE CLIENTES Y PERSONAL DEL HOTEL</strong>
      </p>
      <p style="text-align: justify;">
        Desde las 22:00 horas en todas las habitaciones debe moderarse el volumen acústico. 
        Respete también el silencio nocturno en los pasillos y en las escaleras. 
        Desde las 24:00 horas, se pide a los huéspedes silencio absoluto. 
        Se deberá evitar cualquier actuación molesta, para el resto de los huéspedes del hotel.
      </p>
    </div>
  </div>
</ion-content>
