<ion-header>
  <ion-toolbar>
    <ion-title>{{"HOTEL"| translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-label>{{"IDIOMA"| translate}}</ion-label>
      <ion-select cancelText='{{"CANCELAR"| translate}}'
      placeholder="Selecciona" (ionChange)="changeLang($event)" [ngModel]="language">
        <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        {{"SALIR"| translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="content-body ">
      <h1>{{"REGLAS1"| translate}}</h1>
      <p style="text-align: justify;">
        <strong>{{"REGLAS2"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS3"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS4"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS5"| translate}}
      </p>
      <p style="text-align: justify;">
        {{"REGLAS6"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS7"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS8"| translate}}
      </p>
      <p style="text-align: justify;">
        {{"REGLAS9"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS10"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS11"| translate}}
      </p>
      <p style="text-align: justify;">
        {{"REGLAS12"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS13"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS14"| translate}}
      </p>
      <p style="text-align: justify;">
        {{"REGLAS15"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS16"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS17"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS18"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS19"| translate}}
      </p>
      <p style="text-align: justify;">
        {{"REGLAS20"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS21"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS22"| translate}}
      </p>
      <p style="text-align: justify;">
        <strong>{{"REGLAS23"| translate}}</strong>
      </p>
      <p style="text-align: justify;">
        {{"REGLAS24"| translate}}
      </p>
    </div>
  </div>
</ion-content>
