.content-body{
    margin: 1rem auto;
    position: relative;
    box-shadow: 0 1px 6px 1px rgb(0 0 0 / 20%);
    padding: 0 4%;
    width: 90%;
}
div{
    vertical-align: baseline;
    border: 0;
    padding: 0;
}
.content-wrapper {
    width: 100%;
}