<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-md="6" size-lg="3">
            <ion-item lines="full">
              <ion-label position="floating" >Token</ion-label>
              <ion-input type="text" formControlName="token" (keyup.enter)="clic()"></ion-input>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validationMessages['token']">
                <div class="errormessage" *ngIf="(myForm.get('token').dirty || 
                myForm.get('token').touched) && myForm.get('token').hasError(item.type) ">
                {{item.message}}
                </div>
              </ng-container>
            </div>           
            <ion-row>
              <ion-col>
                <ion-button 
                  (click)="login(myForm.value)" type="submit" color="danger" expand="block" 
                >Ingresar</ion-button>
                <!-- *ngIf="myForm.valid" -->
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>